.form-container {
    text-align: center;
    border: 1px solid #1376BD;
    
    background-color: white;
   text-shadow: blue;
    
  
  }

.Header-One{
    text-align: left; 
    height: 80px;
}

.Hospital-details{
    text-align: right;
    margin-right: 3px;
}
.but{
  border-radius: 30px;
  border: none;
  color:rgb(181, 86, 86) !important;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  background-color: blue;
  display: inline-block;
  font-size: 15px;
  margin: 40px 0px 20px ;
  text-align: right;

}

  .error {
    color: crimson;
    width: fit-content;
    padding: 5px;
    margin: 2px;
  }
  .b{
      text-align: right;
      margin: 0px 10px;
  }

  .DetailsSection{
    text-align: left;
    margin-left: 10px;
    
  }