/* .options{
    height: 50%;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #1376bdf5;
    border-left:10px solid #1376bdf5 ;
    margin: auto;
    width: 30%;
    margin-top:150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 200px;
  

}

#update{
    margin-left: 50px;
    background-color: #1376bdf5;
}

.buttz{
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(0, 68, 255);
    background-color: #274b8d;
    color: white;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.butt1{
  width: 25%;
  padding: 7px;
  border: 1px solid rgb(0, 68, 255);
  background-color: #274b8d;
  color: white;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  float: left;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#update:hover{
    background-color: rgb(19, 19, 177);
    border: 1px solid aquamarine;
}

 */

 .admindash_header {
    color: #1376BD;
    text-align: center;
}

.dashboard {
    justify-content: center;
}

